# Data Science - Getting Started with Python

Following are exercises you should complete. Workflow:

1. Complete the exercises! This means fill out the code cells, and run them (shift-enter or click the play button that appears when you're in one of them)
2. Take a look at your work, and write comments/add text cells as appropriate to explain
3. Upload the notebook to your GitHub repository and submit a link [here](https://docs.google.com/forms/d/e/1FAIpQLScdlw-GN3tHPHxROIulxoPmxXmvK-UmXco3lgjiJ0Ckltn6QA/viewform?usp=sf_link)

## Exercise 1 - A bit of Math

For these "word" problems, use Python to clearly solve them. Your code will "show your work" - use good variable names! To show your answers you should write a `print()` statement at the end.

### a) It's a gas

A taxi driver is calculating their profit over two weeks by adding up the fares they charge and subtracting the cost of gas. The price of gas changes over time - it was `$3.52`/gallon the first week and `$3.57`/gallon this second week. Their car gets 20 miles per gallon.

For the first week the driver had a total of 23 passengers with average `$29` fare each, and drove a total of 160 miles. For the second week they had 17 passengers with average `$30` fare each, and drove a total of 220 miles. Assume that for both weeks they purchase all the gas needed during that week (i.e. they refuel every week to maintain a constant level of gas in the tank).

Based on the above, answer the following questions:

- What is their total profit over both weeks?
- During which week was their average (mean) profit per passenger higher?

In [68]:
import pandas as pd
import numpy as np
df_a=pd.DataFrame({'gas_price_perGallon':[3.52, 3.57] ,'car_mileage_perGallon':[20,20],'miles_travelled':[160, 220] ,'ave_fare':[29, 30] ,'passenger_count':[23, 17], 'week_num':[1,2]})
df_a['profit']= np.nan
display(df_a)

,gas_price_perGallon,car_mileage_perGallon,miles_travelled,ave_fare,passenger_count,week_num,profit
0,3.52,20,160,29,23,1,NaN
1,3.57,20,220,30,17,2,NaN

In [87]:
for i in list(df_a.index.values):
    df_a.iloc[i, -1] = ((df_a.ave_fare[i]*df_a.passenger_count[i]) - (df_a.gas_price_perGallon[i]/df_a.car_mileage_perGallon[i]*df_a.miles_travelled[i]))
display(df_a)

,gas_price_perGallon,car_mileage_perGallon,miles_travelled,ave_fare,passenger_count,week_num,profit
0,3.52,20,160,29,23,1,638.84
1,3.57,20,220,30,17,2,470.73

### b) Mo' money...

A cash drawer contains 160 bills, all 10s and 50s. The total value of the 10s and 50s is $1,760.

How many of each type of bill are in the drawer? You can figure this out by trial and error (or by doing algebra with pencil and paper), but try to use loops and conditionals to check a plausible possibilities and stop when you find the correct one.

In [83]:
# your code here
combinations = {'50s':[], '10s':[]}
total_bill_count = 160
x=1
while(x < 160):
    weight_50 = 50*x
    weight_10 = 10*(160-x)
    if (weight_50+weight_10 == 1760):
        combinations['50s'].append(x)
        combinations['10s'].append(160-x)
    x+=1
print(combinations)

{'50s': [4], '10s': [156]}

## Exercise 2 - Drawing a plot

Use NumPy and Matplotlib to draw a scatterplot of uniform random `(x, y)` values all drawn from the `[0, 1]` interval. Helpful documentation:

*   https://matplotlib.org/tutorials/index.html
*   https://docs.scipy.org/doc/numpy/user/quickstart.html

Stretch goal - draw more plots! You can refer to the [Matplotlib gallery](https://matplotlib.org/gallery.html) for inspiration, but don't just reproduce something - try to apply it to your own data.

How to get data? There's *many* ways, but a good place to get started is with [sklearn.datasets](http://scikit-learn.org/stable/datasets/index.html):

```
from sklearn import datasets
dir(datasets)
```

In [1]:
import matplotlib.pyplot as plt
import numpy as np

# your code here